#root {
  padding: 2rem;
}

#input-wrap {
  text-align: left;
}

#input-wrap label {
  display: block;
}

#input-wrap input {
  display: block;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
